.container {
  padding: 5px;
  color: white;
}

.hero{
  padding-left: 40px;
  padding-right: 40px;
}
.row{
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}
.hero .authorInfo{
  display: flex;
}

.authorInfo .circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.authorInfo .name{
  font-size: smaller;
  margin-left: 5px;
}

.row .btn{
  width: 90px;
  padding: 5px;
  background-color: rgb(78, 78, 232);
  color: white;
  outline: none;
  border: 2px solid rgb(78, 78, 232);
  border-radius: 5px;
  cursor: pointer;
}

.bigCardsRow{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verticalCards{
  width: 20vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: black;
  border-radius: 10px;
  padding: 10px;
  background: url('../public/rightside.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.firstCard{
  background: url('../public/verticalBg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.articleText{
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 80%;
  padding: 10px;
  border-radius: 10px;
}

.verticalCards .articleText .author{
  font-size: small;
}

.verticalCards .articleText .title{
  font-family: sans-serif;
  font-weight: 600;
  font-size: larger;
}

.verticalCards .articleText .desc{
  font-size: small;
}

.horizontalCard{
  width: 50vw;
  display: flex;
  align-items: center;
  background: url('../public/centercard.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.horizontalCard .articleText{
  display: flex;
  align-items: center;
}

.horizontalCard .readmoreBtn{
  width: 100px;
  margin-top: 10px;
  padding: 7px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 20px;
  font-size: smaller;
  cursor: pointer;
}


.contentSlider{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}

.contentSlider::-webkit-scrollbar {
  display: none;
}

.contentSlider .card{
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card .info .author{
  font-size: smaller;
}

.card .info .title{
  margin-top: 20px;
  font-size: larger;
  font-weight: 700;
}

.card .info .desc{
  font-size: smaller;
  opacity: 60%;
}

.card .contentImg{
  border-radius: 10px;
}

.card .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  height: 150px;
  width: 260px;
}

.contentContainer{
  display: flex;
  justify-content: space-between;
}

.leftContainer{
  width: 75%;
}

.smallrightColumn{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 20vw;
  height: 314px;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 10px;
  padding: 10px;
}

.smallrightColumn::-webkit-scrollbar {
  display: none;
}

.rightColumnCard{
  display: flex;
  /* background: #945252; */
  width: 15vw;
  margin-bottom: 20px;
}

.rightColumnCard .contentImg{
  border-radius: 10px;
}

.rightColumnCard .info{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.rightColumnCard .info .title{
  font-size: small;
  font-weight: 700;
}

.rightColumnCard .info .desc{
  font-size: smaller;
}